.package {
	background-color: white;
	border-radius: 5px;
	padding: 18px;
	box-shadow: 0px 3px 6px #00000047;
}

.package h1 {
 margin-top: 0px;
}

.package .description {
	border-bottom: 1px solid silver;
	padding-bottom: 20px;
}
