.search #search-box {
	box-sizing: border-box;
	width: 100%;
}

.submit-package {
	margin: 10px 0 25px;
	padding: 5px;
	background: #ccaaff;
	border: 1px solid #aa86db;
}

.submit-package a {
	color: black;
	text-decoration: none;
}

.package-list {
	list-style: none;
	padding: 0;
}

.package {
	min-height: 110px;
	background-color: white;
	border-bottom: 1px solid grey;
	border-right: 1px solid grey;
	padding: 10px;
	margin-bottom: 25px;
}

.package .title {
	font-size: 16px;
	margin: 5px 0px;
}

.package .title a {
	font-weight: bold;
	color: #076691;
}

.package .title .author {
	color: silver;
}

.package {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.package .left {
	font-size: 12px;
}

.package .right {
	width: 150px;
	text-align: right;
}

.package .right .detail {
	margin-bottom: 10px;
}

.package .right .top {
	font-size: 12px;
	color: silver;
}

.package .right .bottom {
	font-size: 14px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.package .description {
	font-size: 16px;
	margin: 10px 0 20px;
}

.package p {
	margin: 2px 0;
}

.package.hidden {
	display: none;
}
